.ExpenseListItemValue {
    margin-right: 10px;
    display: inline-block;
}
.ExpenseListItem {
    display: inline-block;
}
.ExpenseList {
    margin: auto;
    width: 40%;
}
ul{
    list-style-type:none;
    padding: 0px;
}